nav ul {
  margin: 0;
  padding: 6px;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }
nav div {
  display: block; }
  nav div h1 {
    font-size: 28px; }
