<div class="details-content">
    <form>
        <div class="form-group row page-title">
            {{title}}
        </div>
        <div ng-if="!userEmail" class="form-text error-text">Please login to register events</div>
        <div class="form-group row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                    <tr class="list-header">
                        <td>Event Name</td>
                        <td>Venue</td>
                        <td>DateTime</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="evt in events">
                        <td><a ui-sref="event-details({id: evt.id})">{{evt.name}}</a></td>
                        <td>{{evt.venue}}</td>
                        <td>{{evt.dateTime}}</td>
                        <td>
                            <button type="button" class="btn btn-info" ng-click="onDetailsClicked(evt.id)">Details</button>
                            <button type="button" class="btn btn-success" ng-if="userEmail" ng-disabled="registeredEvents.indexOf(evt.id) > -1" ng-click="onRegisterClicked(evt.id)">Register</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </form>
</div>